DATABASE_URL="postgresql://postgres.jrpcuheybafpzsllqnwj:@123_Testnama@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

NEXTAUTH_SECRET="GANTI_SAYA_DENGAN_STRING_RAHASIA_APAPUN"
NEXTAUTH_URL= http://192.168.56.1:3000

NODE_ENV=production
PORT=3000
NEXT_TELEMETRY_DISABLED=1