DATABASE_URL="postgresql://postgres.oevwzxuafwgzatdaqcuz:tikpoldantb123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
# DATABASE_URL="postgresql://postgres:tikpoldantb123@db.oevwzxuafwgzatdaqcuz.supabase.co:5432/postgres"
directUrl="postgresql://postgres.oevwzxuafwgzatdaqcuz:tikpoldantb123@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

NEXTAUTH_SECRET="GANTI_SAYA_DENGAN_STRING_RAHASIA_APAPUN"
NEXTAUTH_URL= http://192.168.56.1:3000
# NEXTAUTH_URL=  https://9a18f417bc88.ngrok-free.app